$primaryColor: #fcd9c2;
$textColor: #370084;
// $textColor: #54138c;
$hoverColor: #940af3;
// $iconColor: #dad6e0;
// $hoverColor: #d6cae8;
$cardColor: #fcdede;
$backgroundColor: #fcedc6;
$brightColor: #ffc720;
$whiteColor: #ffff;
$contrastColor: #f00c93;

@mixin background-opacity($color, $opacity: 0.3) {
  background: $color;
  background: rgba($color, $opacity);
}
