@import "/src/styles/colors";
button {
  padding: 5% 5%;
  color: $purple;
  //   border: 1px solid $purple;
  border: 0;
  background-color: transparent;
  cursor: pointer;
  &:disabled {
    color: grey;
  }
}
